init:
  - git config --global core.autocrlf true
environment:
  global:
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    DOTNET_CLI_TELEMETRY_OPTOUT: 1
  SQ_TOKEN:
    secure: g5CtCNUG4/4//OaQCidnKFuLThMbMGKQhFgYbCECu2AJlPeV8c9mBTNfeZZy9TpN
test: off
deploy: off
os: Visual Studio 2017
before_build:
  - cmd: dotnet restore Configuration.MongoDb.sln
build_script:
  - choco install "msbuild-sonarqube-runner" -y
  - ps: if (-Not $env:APPVEYOR_PULL_REQUEST_NUMBER) { MSBuild.SonarQube.Runner.exe begin /k:"midmid.configuration.mongodb" /o:"midmid" /d:"sonar.host.url=https://sonarcloud.io" /d:"sonar.login=$env:SQ_TOKEN" /d:sonar.cs.opencover.reportsPaths="%APPVEYOR_BUILD_FOLDER%\Test-Coverage.xml" /d:sonar.cs.vstest.reportsPaths="%APPVEYOR_BUILD_FOLDER%\TestResults\*.trx" }
  - msbuild Configuration.MongoDb.sln
  - msbuild cibuild.proj /t:TestWithCoverage;AnalyzeTestResults
  - ps: if (-Not $env:APPVEYOR_PULL_REQUEST_NUMBER) { MSBuild.SonarQube.Runner.exe end /d:"sonar.login=$env:SQ_TOKEN" }
